.year-button:hover .year-banner {
  opacity: 1;
}

.year-link {
  text-shadow: 0px 0px 15px gray;
  transition: all 0.2s ease-in-out;
}

.year-link:hover {
  text-decoration: underline;
}

.year-link:hover ~ .year-banner {
  filter: blur(5px);
  transform: scale(1.4);
}

.year-banner {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
