:root {
  --bg-color: rgb(17, 17, 17);
  --sec-bg: rgb(53, 53, 53);
  --accent-color: rgb(53, 208, 227);
  --sec-accent-color: rgb(255, 231, 51);
  --tert-accent-color: rgb(242, 70, 79);
  --text-bg: rgb(0, 47, 82);
  --text-color: rgb(247, 242, 236);
  --cl-color: rgb(250, 245, 237);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.borderline {
  height: 2px;
  background-color: var(--sec-bg);
  margin: 2rem 0;
}
