* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color:rgb(17, 17, 17);
  color: var(--text-color);
}

#sentinel {
  height: 1%;
  width: 100%;
}

.navbar {
  height: 70px;
  position: relative;
  z-index: 1000;
}

.nav-inner {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 60px;
  background-color: #171717;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  box-shadow: none;
  overflow: hidden; 
}

.nav-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 120%;
  height: 100%;
  pointer-events: none;
  border-radius: inherit;

  background: linear-gradient(
    90deg,
    rgba(46, 255, 144, 0) 0%,
    var(--accent-color) 50%,
    rgba(46, 255, 144, 0) 100%
  );

  opacity: 0;
  transform: translateX(0);
}

.navbar.dock .nav-inner {
  top: 15px;
  width: 44%;
  min-width: fit-content;
  height: 60px;
  padding: 0 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 999px;
  transform: translateX(-50%) scale(1);
}

.navbar.dock .nav-inner::before {
  animation: greenWave 0.9s ease-out forwards;
  opacity: 1;
}

@keyframes greenWave {
  0% {
    transform: translateX(-120%);
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(120%);
    opacity: 0;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  list-style: none;
}

.nav-inner a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.nav-inner a:hover {
  color: #30cdd7;
}

.hamburger,
.page-title {
  display: none;
}

@media (max-width: 1000px) {
  .hamburger {
    display: block;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 1001;
  }

  .page-title {
    display: block;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 0.75rem;
    flex: 1;
    text-align: center;
  }

  .nav-inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: var(--bg-color);
    flex-direction: column;
    display: flex;
    gap: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    text-align: center;
    z-index: 999;
    overflow: hidden;
  }

  .nav-menu.hidden {
    display: none;
  }

  .nav-inner ul {
    gap: 1rem;
    padding: 10px;
  }

  .nav-inner a {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
}

.navbar.dock .nav-inner {
  width: 55%;
}

@media (max-width: 1600px) {
  .navbar.dock .nav-inner {
    width: 66%;
  }
}

@media (max-width: 1400px) {
  .navbar.dock .nav-inner {
    width: 80%;
  }
}

@media (max-width: 1100px) {
  .navbar.dock .nav-inner {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .navbar.dock .nav-inner {
    width: 100%;
  }
}
